body,h1,h2,h3,ul,li,p{margin:0;padding:0; font-size:12px;font-family:Arial, Verdana,"宋体";}
body {position:relative;background:#fff url(bg_x.gif) repeat-x 0 -344px;border:0px solid #ffaa09;scroll:no;overflow:hidden;}
div,img{border:0;}
ul li{list-style:none;}
a{color:#333; font-size:12px; text-decoration:none;}
a:hover{color:#f60;}
#head h1{text-indent:-9999px; background:url(bg_logo.png) no-repeat 0 0; height:30px;}
#menu_position{position:absolute; top:0; left:180px; z-index:99;}
  #head .user{color:#fff; position:absolute; top:6px; right:20px; z-index:10;}
    #head .user a{color:#fff;}
    #head  .user span{width:50px;}

#menu{position:relative;}
#menu li ul,#menu li.iehover ul{width:101px; display:none; position:absolute;top:100%;left:0; padding:2px 0 0; background:url(bg_y.gif) repeat-y -2815px 0; margin-top:-3px;}
#menu li{float:left; display:inline; position:relative; width:60px; line-height:24px;}
#menu ul li{width:100%; display:block; }
#menu ul li.menubtm{background:url(bg.gif) repeat-y 0 0; height:4px; overflow:hidden;}
#menu li a{float:left; display:block; color:#fff; text-align:center; height:30px; line-height:24px; width:100%; font-weight:bold; margin-top:3px;}
#menu li.iehover a,#menu li.iehover a:hover,#menu li:hover a,#menu li:hover a:hover{background:url(bg.gif) no-repeat -1px -634px; color:#333; font-weight:bold;}
#menu li.focused a{background:url(bg.gif) no-repeat -1px -634px; color:#666; font-weight:bold;}

#menu li:hover li a,#menu li.iehover li a,#menu li li a{float: none; margin:0 1px 0 2px; color:#333; height:24px; line-height:24px; text-align:left; padding-left:8px; width:88px; font-weight:normal; background:url(bg.gif) no-repeat 0 -667px;}
#menu li:hover li a:hover,#menu li:hover li:hover a,#menu li.iehover li a:hover,#menu li.iehover li.iehover a,#menu li li a:hover{background: url(bg_x.gif) repeat-x 0 -225px; color:#fff; font-weight:normal;}
#menu li:hover ul,#menu li.iehover ul{display:block;}

#main{background:url(bg_y.gif) repeat-y -2920px 0;}
#left{width:150px; background:url(bg.gif) no-repeat 1px -1467px; position:absolute; top:30px; left:0;}
 #left h2{height:28px; line-height:28px; font-size:12px; padding-left:22px; /*margin-top:-1px;*/ margin-top:3px;}
  #left h2 span{padding-right:12px; height:16px; float:right;  margin-top:5px;}
  #left h2 span a.new{width:16px; height:16px; font-size:16px; background:url(bg.gif) no-repeat -57px -544px;}
  #left h2 span a.new:hover{background-position:-89px -544px;}
  #left h2 span a.refresh{width:16px; height:16px; font-size:16px; background:url(bg.gif) no-repeat -89px -569px;}
  #left h2 span a.refresh:hover{background-position: -109px -569px;}
  #browser{overflow:auto; border:0px solid #aa4400; }

#right{margin-left:150px;}
	#position{background:url(bg.gif) no-repeat 0 -328px; height:16px; line-height:16px; padding-left:18px;margin-left:8px;}
	  #position a{background:url(bg.gif) no-repeat right -840px; padding:0 12px 0 0; margin-right:6px; color:#008ACC;}
	    #position a:hover{ text-decoration:underline;}
/*快捷方式*/
#shortcut{float:right; margin-right:3px; margin-top:-3px;}
 #shortcut span{display:block; float:left; margin-right:5px; padding:2px; cursor:pointer;}
  #shortcut span.sc_now{ background:#fff; border:1px solid #9AC4DC; padding:1px;}
  #shortcut span img{display:block;}
#home {overflow:hidden;width:100%;padding-top: 8px;clear:both;}

#frame_container{overflow:hidden; border:0px solid #aa4400; width:100%; margin-top:6px;}
#frame_container .iframe_div{ width:100%; height:100%; display:none;}
